:root {
    --primary-color: #b04e4b;
    --secondary-color: #2d97c8;
    --font1color: #ededed;
    --font2-color: #000000;
    --heading-font: "Roboto" sans;
    --paragraph-font: "Roboto" sans;
    --background-color: #ededed;
    --link-color: #094074;
    --hover-link-color: #2d97c8;
    --hover-color: #b04e4b;
    --hover-background-color: #ededed;
    --font-family: 'Roboto' sans-serif;

  }
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: #b04e4b;
  }
  

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

section.history {
  padding: 40px;
  background-color: #000000;
  text-align: center;
}

.history h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.history p {
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
}

body {
    
  max-width: 1200px; 
  margin: 0 auto;    
  padding: 0 20px;   
      }

body {
    background-color: #ededed;
    color: var(--font2-color);
    font-family: var(--font-family);
    
}
/* TITLES */

h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    background-color: #b04e4b;
    color: var(--font1color); 
    font-weight: bold;
    margin-bottom: 10px; 
    text-align: center;
}

h2, h3, h4, h5 {
    color: var(--primary-color)
    
}
/* PARAGRAPHS */

p {
    color: var(--font2-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

/* LINKS */
a {
    color: var(--link-color); 
    text-decoration: underline; 
  }

/* LINK WHEN MOUSE PASS BY */

  a:hover {
    color: var(--hover-color); 
  }
  
  a img {
    text-decoration: none; 
    border: none;         
  }

  .social-link {
    color: var(--secondary-color); 
  }
  
  .social-link:hover {
    color: var(--primary-color); 
  }


  /* FOOTER */

  footer {
    background-color:#b04e4b;
    color: rgba(255, 255, 255, 0.89);
    padding: 20px;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 1rem auto;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    gap: 400px;  
    opacity: .8;
  }

  /*HERO*/

.hero {
    position: relative; 
    width: 100%; 
  }

  .hero img {
    width: 100%;       
    display: block;    
    height: auto;   
  }

  .hero article {

        position: absolute;    
        bottom: 10%;           
        left: 5%;              
        background-color: rgba(0, 0, 0, 0.6); 
        color: rgb(255, 255, 255);          
        padding: 20px;         
        width: 90%;            
        z-index: 5;           
        
      }
  

  .hero article p {
    margin: 0;             
    line-height: 1.6;      
  }

  .hero p {
    font-size: 1.2em;   
    margin: 10px 0 0;   
  }

  /*FIGURES*/
  figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  img {
    max-width: 220px;
    max-height: 150px;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  